@use 'variables';
@use 'style';
@use 'mixins';

* {
  scrollbar-width: thin;
  scrollbar-color: variables.$primary-color variables.$bg-primary; 
}

::-webkit-scrollbar {
  width: 0.313rem;

  &-track {
    background: variables.$bg-primary;
  }

  &-thumb {
    background: variables.$primary-color;
    border-radius: 0;
  }

  &-corner {
    background: transparent;
  }
}

.profile-picture{
  @include mixins.profilePicture;
}

html,
body{
  background: variables.$bg-secundary;
  min-width: 100vw;
  min-height: 100%;
  display: grid;
  grid-template-columns: 5rem 1fr;
  
  header{
    background: variables.$bg-primary;
    min-height: 100%;
    // width: 5rem;
    display: grid;
    grid-template-columns: auto;
    justify-content: center;
    align-content: space-between;
    // justify-content: space-between;

    .user-picture-wrapper{
      @include mixins.profilePictureWrapper(3.125rem, 3.125rem, hidden);
      margin: 1.125rem auto;
      border-radius: 4px;
      position: relative;

      .glass{
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: 2;
      }
    }

    nav{
      min-height: calc(100vh - 3.125rem - 2.25rem - 4.375rem);
      height: calc(100% - 3.125rem - 2.25rem - 4.375rem);
      // background-color: blue;
      // display: flex;

      .navigation-list{
        height: 95.5%;
        display: flex;
        flex-direction: column;

        li:last-child{
          margin-top: auto;

          img {
            width: 1.3rem;
            margin-left: 0.25rem;
          }
        }

        a{
          @include mixins.flexCenter();
          background-color: variables.$bg-link;
          width: 2.5rem;
          height: 2.5rem;
          margin: 0.5rem;
          padding: 0.55rem;
          border-radius: 4px;

          &.active {
            background-color: variables.$primary-color;
            box-shadow: #6359E7 0 0 12px 2px;
          }

          img {
            width: 1.4rem;
          }
        }
      }
    }
  }

  main{
    min-height: 100vh;
    width: 100%;
    display: grid;
    grid-template-areas: "menu";
    // background-color: red;

    .menu{
      grid-area: menu;
      position: relative;
    }

    section{
      background-color: variables.$bg-secundary;
      position: absolute;
      width: 100%;
      top: 0;
      left: 0;

      &.active{
        z-index: 1;
      }

      .title{
        // grid-area: title;
        border-bottom: 3px solid variables.$bg-primary;
        height: variables.$title-section-height;
        display: flex;
        align-items: center;
        justify-content: space-between;
        
        h1 {
          color: variables.$color-text;
          margin-left: 2rem;
          font-size: 0.83rem;
          font-weight: normal;
          display: flex;
          align-items: center;
        }

        img,
        #add-contact-btn {
          width: 1.48rem;
          margin-top: 0.25rem;
          margin-right: 1.10rem;
        }

        #add-contact-btn img {
            width: 100%;
        }
      }

      .content-wrapper{
        height: calc(100vh - variables.$title-section-height);
        overflow: auto;

        .item {
          color: #fff;
          cursor: pointer;
          height: 4.708rem;
          padding: 1rem 0.84rem;
          padding-right: 2rem;
          display: flex;
          align-items: center;

          &:hover{
            background-color: variables.$bg-link;
          }

          .picture-wrapper{
            @include mixins.profilePictureWrapper(2.60rem, 2.60rem, hidden);

            img{
              @include mixins.profilePicture;
            }
          }

          .message-data,
          .contact-data {
            margin-left: 1rem;
          }
          
          .name{
            margin-bottom: 0.1rem;
            font-size: 0.75rem;
            font-weight: bold;
          }
        }
      }
    }
  }
}

.item{

  .message-data{
    display: grid;
    grid-template-columns: 79% 1fr;
    grid-template-areas:
        "name time-message"
        "message-content message-count"
    ;
    justify-content: space-between;
    position: relative;
    flex: 1;
    font-size: 0.875rem;

    .name{
      grid-area: name;
    }

    .message-content {
      grid-area: message-content;
      padding-left: 1.875rem;
      position: relative;

      .message-status {
        width: 1.375rem;
        height: 100%;
        left: 0;
        bottom: -0.20rem;
        position: absolute;
      }

      .visualized {
        background-image: url('../assets/check-icon.svg');
        background-size: 100%;
        background-repeat: no-repeat;
      }
    }

    .time-message,
    .message-count {
        position: absolute;
        right: 0;
        top: -0.35rem;
    }

    .time-message {
      grid-area: time-message;
      font-size: 0.75rem;
    }

    .message-count {
      @include mixins.flexCenter();
      grid-area: message-count;
      background-color: variables.$primary-color;
      border-radius: 50%;
      font-size: 0.60rem;
      padding: 0.1rem 0.1rem 0 0;
      width: 1.55rem;
      height: 1.55rem;
      margin: 0.2rem 0.25rem 0 0;
    }
  }

  .message-content,
  .phrase-contact {
    font-size: 0.83rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding-top: 0.1rem;
  }
}

.setting-container {
  display: flex;
  flex-direction: column;
  padding: 2.6rem 1rem 1rem 1rem;
  height: 100%;

  .change-image{
    width: 56%;
    max-width: 12.3583125rem;
    margin: 0 auto 2.3rem auto;
    text-align: center;
    position: relative;

    #btn-container{
      @include mixins.flexCenter();
      position: absolute;
      bottom: -0.3125rem;
      padding-top: 0.23rem;
      right: 0.3125rem;
      background-color: variables.$primary-color;
      border-radius: 50%;
      width: 36.461%;
      height: 35.56%;

      img{
        width: 58%;
        height: 58%;
      }
    }
  }

  .account{
    flex: 1;
    max-height: 14.25rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    * {
      font-size: 0.83rem;
    }

    .user-data {

      .data {
        font-weight: normal;
        color: white;
        margin-bottom: 1.3rem;
      }

      #user-email {
        p{
          border-bottom: 1px solid white;
          width: fit-content;
        }
      }
  
      strong{
        font-weight: normal;
        color: variables.$color-text-light;
        display: inline-block;
        margin-bottom: 0.2rem;
      }
    }
  
    #delete-account-btn{
      display: flex;
      color: variables.$color-danger;
      text-decoration: none;
      align-items: center;
      margin-bottom: 1.2rem;
    }

    img{
      width: 0.8125rem;
      margin-right: 0.55rem;
    }
  }
}

main {
  &.messages {
    .app-content{
      width: 100%;
      height: 100%;
      display: initial;
      position: fixed;
      top: 0;
      left: 0;
      z-index: 1;
    }
  }

  &.home-screen {}
}

main .app-content {
  display: none;
  z-index: -1;

  section.home,
  section.message-screen {
    height: 100%;
    max-height: 100vh;
    background-color: variables.$bg-primary;
    border-left: 3px solid variables.$bg-primary;
  }
  
  section.home {
    display: none;
  }

  section.message-screen{
    display: flex;
    flex-direction: column;

    header {
      height: 4.875rem;
      border-bottom: 3px solid variables.$bg-primary;
      background-color: variables.$bg-secundary;
      color: white;
      display: flex;
      justify-content: space-between;
      align-items: center;
      min-height: fit-content;

      .contact-header{
        margin-left: 1.4rem;
        display: flex;

        .picture-wrapper {
          @include mixins.profilePictureWrapper(2.60rem, 2.60rem, hidden);
        }

        .contact-data {
          margin-left: 1rem;
          margin-bottom: -0.1rem;
          display: flex;
          flex-direction: column;
          justify-content: center;
          
          * {
            font-size: 0.8rem ;
          }
  
          p{
            font-size: 0.7rem;
            margin-top: 0.25rem;
          }
        }
      }
      
      .actions{
        width: 2.8rem;
        margin-right: 4rem;
        padding-left: 0.5rem;
        position: relative;
        display: flex;
        justify-content: space-between;
        
        img{
          width: 1rem;
          height: 1rem;
        }

        a:nth-child(2) {
          margin-left: 0.35rem;
          img{
            width: 1.2rem;
          }
        }

        a:last-child{
          position: absolute;
          right: -2.6rem;
        }
      }
    }

    .chat {
      flex: 1;
    }
  }
}

section.message-screen .input-wrapper{
  background-color: variables.$bg-secundary;
  display: flex;
  align-items: center;
  padding: 0.8rem;
  position: relative;

  #input,
  .placeholder{
    padding: 0.5rem 1rem 0.188rem 1rem;
    color: rgba(255, 255, 255, 0.2);
    font-size: 0.75rem;
    height: 100%;
  }

  #input{
    position: relative;
    z-index: 1;
    max-width: calc(100% - 1.80rem);
    width: 100%;

    .input-content{
      width: 92%;
      word-break: break-all;
      outline: none;
      overflow: auto;
      max-height: 8rem;
      color: variables.$color-text;
    }

    .placeholder{
      background-color: variables.$bg-primary;
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      width: 100%;
      border-radius: 4px;
    }
  }

  .message-actions{
    margin-left: 0.9rem;
    margin-top: 0.25rem;
    position: absolute;
    bottom: 0.9375rem;
    right: 0.9375rem;

    .emoji {
      position: absolute;
      right: 2.375rem;
      bottom: 0.0625rem;
      z-index: 1;

      img {
        width: 1.15rem;
      }
    }

    img {
      width: 0.8rem;
    }
  }
}

.overlay-layer {
  // filter: blur(15px);
  
  .overlay-active {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    background-color: variables.$bg-overlay-layer;
  }

  .add-contact {
    @include mixins.flexCenter();
    display: flex;
    transform: translateY(-15%);

    .add-contact-component {
      background-color: variables.$bg-primary;
      width: 90%;
      max-width: 26.1875rem;
      padding: 1.2rem;
      padding-bottom: 1rem;
      color: variables.$color-text;
      display: flex;
      flex-direction: column;
      border-radius: 4px;
      // border: 1px solid red;
      
      & p,
      & #contact-input,
      & #add-contact-btn {
        font-size: 0.9375rem;
        color: variables.$color-text;
      }
      
      .start {
        display: flex;
        justify-content: space-between;
        align-items: center;
        // border: 1px solid red;

        #cancel-add-contact {
          width: 17px;
          height: 17px;
          
          img{
            width: 100%;
          }
        }
      }
      
      #contact-input {
        background-color: variables.$bg-secundary;
        border: none;
        outline: none;
        border-radius: 3px;
        padding: 0.4rem 0.5rem;
        width: 100%;
        margin: 1rem 0;
      }
      
      #add-contact-btn {
        color: variables.$primary-color;
        text-decoration: none;
        margin-right: 0;
        margin-left: auto;
        margin-top: 0.8rem;
      }

    }
  }
}