@use 'style';
@use 'parts/variables';
@use 'parts/mixins';
@use 'parts/app-content';
@use 'parts/overlay-layer';
@use 'parts/setting-container';

* {
  scrollbar-width: thin;
  scrollbar-color: variables.$primary-color variables.$bg-primary; 
}

::-webkit-scrollbar {
  width: 0.313rem;

  &-track {
    background: variables.$bg-primary;
  }

  &-thumb {
    background: variables.$primary-color;
    border-radius: 0;
  }

  &-corner {
    background: transparent;
  }
}

.profile-picture{
  @include mixins.profilePicture;
}

html,
body{
  background: variables.$bg-secundary;
  min-width: 100vw;
  min-height: 100%;
  display: grid;
  grid-template-columns: 5rem 1fr;
  
  header{
    background: variables.$bg-primary;
    min-height: 100%;
    // width: 5rem;
    display: grid;
    grid-template-columns: auto;
    justify-content: center;
    align-content: space-between;
    // justify-content: space-between;

    .user-picture-wrapper{
      @include mixins.profilePictureWrapper(3.125rem, 3.125rem, hidden);
      margin: 1.125rem auto;
      border-radius: 4px;
      position: relative;

      .glass{
        @include mixins.glass();
      }
    }

    nav{
      min-height: calc(100vh - 3.125rem - 2.25rem - 4.375rem);
      height: calc(100% - 3.125rem - 2.25rem - 4.375rem);
      // background-color: blue;
      // display: flex;

      .navigation-list{
        height: 95.5%;
        display: flex;
        flex-direction: column;

        li:last-child{
          margin-top: auto;

          img {
            width: 1.3rem;
            margin-left: 0.25rem;
          }
        }

        a{
          @include mixins.flexCenter();
          background-color: variables.$bg-link;
          width: 2.5rem;
          height: 2.5rem;
          margin: 0.5rem;
          padding: 0.55rem;
          border-radius: 4px;

          &.active {
            background-color: variables.$primary-color;
            box-shadow: #6359E7 0 0 12px 2px;
          }

          img {
            width: 1.4rem;
          }
        }
      }
    }
  }

  main{
    min-height: 100vh;
    width: 100%;
    display: grid;
    grid-template-areas: "menu";
    // background-color: red;

    .menu{
      grid-area: menu;
      position: relative;
    }

    section{
      background-color: variables.$bg-secundary;
      position: absolute;
      width: 100%;
      top: 0;
      left: 0;

      &.active{
        z-index: 1;
      }

      .title{
        // grid-area: title;
        border-bottom: 3px solid variables.$bg-primary;
        height: variables.$title-section-height;
        display: flex;
        align-items: center;
        justify-content: space-between;
        
        h1 {
          color: variables.$color-text;
          margin-left: 2rem;
          font-size: 0.83rem;
          font-weight: normal;
          display: flex;
          align-items: center;
        }

        img,
        #add-contact-btn {
          width: 1.48rem;
          margin-top: 0.25rem;
          margin-right: 1.10rem;
        }

        #add-contact-btn img {
            width: 100%;
        }
      }

      .content-wrapper{
        height: calc(100vh - variables.$title-section-height);
        overflow: auto;

        .item {
          color: #fff;
          cursor: pointer;
          height: 4.708rem;
          padding: 1rem 0.84rem;
          padding-right: 2rem;
          display: flex;
          align-items: center;

          &:hover{
            background-color: variables.$bg-link;
          }

          .picture-wrapper{
            @include mixins.profilePictureWrapper(2.60rem, 2.60rem, hidden);

            img{
              @include mixins.profilePicture;
            }
          }

          .message-data,
          .contact-data {
            margin-left: 1rem;
          }
          
          .name{
            margin-bottom: 0.1rem;
            font-size: 0.75rem;
            font-weight: bold;
          }
        }
      }
    }
  }
}

.item{

  .message-data{
    display: grid;
    grid-template-columns: 79% 1fr;
    grid-template-areas:
        "name time-message"
        "message-content message-count"
    ;
    justify-content: space-between;
    position: relative;
    flex: 1;
    font-size: 0.875rem;

    .name{
      grid-area: name;
    }

    .message-content {
      grid-area: message-content;
      padding-left: 1.875rem;
      position: relative;

      .message-status {
        width: 1.375rem;
        height: 100%;
        left: 0;
        bottom: -0.20rem;
        position: absolute;
      }

      .visualized {
        background-image: url('../assets/check-icon.svg');
        background-size: 100%;
        background-repeat: no-repeat;
      }
    }

    .time-message,
    .message-count {
        position: absolute;
        right: 0;
        top: -0.35rem;
    }

    .time-message {
      grid-area: time-message;
      font-size: 0.75rem;
    }

    .message-count {
      @include mixins.flexCenter();
      grid-area: message-count;
      background-color: variables.$primary-color;
      border-radius: 50%;
      font-size: 0.60rem;
      padding: 0.1rem 0.1rem 0 0;
      width: 1.55rem;
      height: 1.55rem;
      margin: 0.2rem 0.25rem 0 0;
    }
  }

  .message-content,
  .phrase-contact {
    font-size: 0.83rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding-top: 0.1rem;
  }
}

main {
  &.messages {
    position: relative;
    
    .app-content{
      width: 100%;
      height: 100%;
      display: initial;
      position: fixed;
      top: 0;
      left: 0;
      z-index: 1;
    }
  }

  &.home-screen {}
}