@use 'style';
@use 'parts/variables';
@use 'parts/mixins';
@use 'sass:color';

html,
body{
  min-width: 100vw;
  min-height: 100%;
}

body{
  background-size: cover;
  background-position: 50% 100%;
  background-repeat: no-repeat;
}
main{
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: row-reverse;

  section.wallpaper {
    width: calc(100% - 31.25rem);
    height: 100vh;
    position: relative;
    background-image: url('./../assets/wallpaper.webp');
    background-size: cover;
    background-repeat: no-repeat;

    .overlay {
      position: absolute;
      width: 100%;
      height: 100%;
      background-color: variables.$primary-color;
      mix-blend-mode: hue;
    }
  }

  section.login{
    max-width: 31.25rem;
    height: 100vh !important;
    display: flex;
    justify-content: center;
    position: relative;
    flex: 10;
    background-color: variables.$bg-secundary;

    .login-container{
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 96%;
      max-width: 23.938rem;
      height: 30.375rem;
      border-radius: 4px;
      background-color: variables.$bg-secundary;
      position: absolute;
      top: 40%;
      transform: translateY(-40%);

      .logo-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-bottom: 5.0rem;

        img {
          width: 46.2467%;
          max-width: 5.625rem;
          margin-bottom: 1rem;
        }

        p{
          font-size: 1.125rem;
          color: variables.$primary-color;
          text-align: center;
          margin: 0 0.4rem;
        }
      }

      .form-wrapper{
        width: 100%;
        height: auto;

        .sign-text{
          text-align: center;
          color: variables.$color-text;
        }
  
        form {
          @include mixins.flexCenter();
  
          #submit-btn{
            cursor: pointer;
            margin-top: 1rem;
            background-color: variables.$primary-color;
            color: variables.$color-text;
            width: 78%;
            padding: 0.8rem;
            border-radius: 4px;
            outline: none;
            border: none;
            transition: 0.3s;

            &:hover{
              $hover-color: variables.$primary-color;
              background-color: scale-color($hover-color, $lightness: -5.7%);
            }
          }
        }

        .term-container {
          display: none;
          padding: 0.74rem 0;
          display: flex;
          margin: auto;
          align-items: flex-start;
          color: variables.$color-text;
          width: 78%;
          font-size: 0.063rem;

          input {
            margin-top: 0.244rem;
            margin-right: 0.75rem;
          }

          p {
            font-size: 0.813rem;
            text-align: left;

            a {
              font-size: 0.813rem;
              color: variables.$primary-color;
            }
          }
        }
      }
    }
  }
  section.terms-of-use {
    position: fixed;
    background-color: variables.$bg-overlay-layer;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    &.disabled {
      opacity: 0;
      display: none;
      visibility: hidden;
      z-index: -5;
    }
    
    .container {
      border-radius: 4px;
      background-color: variables.$bg-primary;
      max-width: 68.75rem;
      width: 90%;
      height: 80%;
      display: flex;
      flex-direction: column;
      align-items: center;
      color: variables.$color-text;
      
      .languages-button {
        width: 100%;
        padding: 0 1rem;
        padding-top: 1.15rem;
        display: flex;
        align-items: center;
        justify-content: center;
        
        .container {
          width: 100%;
          display: flex;
          flex-direction: row;
          
          @media (max-width: 202px) {
            & {
              flex-direction: column;
              margin-bottom: -0.25rem;
            }
          }
          
          button {
            background-color: variables.$primary-color;
            outline: none;
            border: none;
            padding: 0.2rem 0.4rem;
            width: 4.5rem;
            border-radius: 4px;
            color: variables.$color-text;
            cursor: pointer;
            margin-right: 0.5rem;
            
            @media (max-width: 202px) {
              & {
                margin-right: 0rem;
                margin-bottom: 0.5rem;
                width: 100%;
              }
            }
            
            &.disabled {
              opacity: 0.6;
            }
          }
        }

        #close-terms-btn {
          margin-left: -1.4rem;
          width: 1.125rem;
          height: 1.125rem;
          display: inline-block;
          
          img{
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
      }
      
      .terms-container {
        display: flex;
        height: 100%;
        width: 100%;
        padding: 0.8rem 1rem;
        position: relative;
        
        .terms {
          border-radius: 4px;
          background-color: variables.$bg-secundary;
          padding: 0.7rem 1rem;
          width: calc(100% - 2rem);
          height: calc(100% - 2rem);
          position: absolute;

          p {
            text-align: justify;
            word-wrap: break-word;
          }
          
          &.disabled {
            opacity: 0;
            display: none;
            visibility: hidden;
            z-index: -5;
          }
        }
      }
    }
  }
}