VITE_TOKEN_VALIDATOR=
VITE_STORAGE_KEY=

VITE_API_KEY=
VITE_AUTH_DOMAIN=
VITE_PROJECT_ID=
VITE_STORAGE_BUCKET=
VITE_MESSAGING_SENDER_ID=
VITE_APP_ID=

VITE_ICON_KEY=
VITE_BLOCK_MEDIA=

VITE_CLOUDINARY_CLOUD_NAME=
VITE_CLOUDINARY_UPLOAD_PRESET=
VITE_BACKGROUND=
VITE_RECAPTCHA_SITE_KEY=

VITE_MAX_USERS=
VITE_RESET_INTERVAL_HOURS=
VITE_RESET_INTERVAL_MINUTES=

VITE_CRYPTO_SALT=
