@use 'variables';
@use 'mixins';
@use 'sass:color';

main .app-content {
  display: none;
  z-index: -1;

  section.home,
  section.message-screen {
    height: 100%;
    max-height: 100vh;
    background-color: variables.$bg-primary;
    border-left: 3px solid variables.$bg-primary;
  }
  
  section.home {
    display: none;
  }

  section.message-screen{
    display: flex;
    flex-direction: column;

    header {
      height: 4.875rem;
      border-bottom: 3px solid variables.$bg-primary;
      background-color: variables.$bg-secundary;
      color: white;
      display: flex;
      justify-content: space-between;
      align-items: center;
      min-height: fit-content;

      .contact-header{
        margin-left: 1.4rem;
        display: flex;

        .picture-wrapper {
          @include mixins.profilePictureWrapper(2.60rem, 2.60rem, hidden);
        }

        .contact-data {
          margin-left: 1rem;
          margin-bottom: -0.1rem;
          display: flex;
          flex-direction: column;
          justify-content: center;
          
          * {
            font-size: 0.8rem ;
          }
  
          p{
            font-size: 0.7rem;
            margin-top: 0.25rem;
          }
        }
      }
      
      .actions{
        width: 2.8rem;
        margin-right: 4rem;
        padding-left: 0.5rem;
        position: relative;
        display: flex;
        justify-content: space-between;
        
        img{
          width: 1rem;
          height: 1rem;
        }

        a:nth-child(2) {
          margin-left: 0.35rem;
          img{
            width: 1.2rem;
          }
        }

        a:last-child{
          position: absolute;
          right: -2.6rem;
        }
      }
    }

    .media-bar {
      position: absolute;
      top: 50%;
      right: -4rem;
      transform: translateY(-50%);
      border-radius: 3px;
      background-color: variables.$bg-secundary;
      width: 3.3rem;
      height: 15.625rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      
      &.show-media-bar {
        right: 0.75rem;
      }
      
      li, a {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex: 1;

        img { 
          width: 42%;
          height: 42%;
        }
      }
      
      li:nth-child(3) img {
        width: 38%;
        height: 38%;
      }

      li#upload-file-wrapper{
        display: none;
      }
    }

    .chat {
      flex: 1;
      display: flex;
      overflow: auto;
      padding: 2.0rem 0;
      padding-bottom: 0.5rem;
      
      .message-wrapper {
        min-height: fit-content;

        #message-list {
          
          li {
            margin-bottom: 1rem;
          }

          li.user {
            display: flex;
            justify-content: flex-end;
          }
  
          .text {
            background-color: color.scale(variables.$bg-secundary, $lightness: 1%);
            color: white;
            padding: 0.5rem 0.7rem;
            border-radius: 0.55rem;
            
            word-wrap: break-word;
            word-break: break-all;
            hyphens: auto;
            
            font-size: 0.9rem;
            max-width: clamp(2px, 80%, 1000px);
            
            margin-left: 0.7rem;
            margin-right: auto;
          }
          
          .user .text {
            background-color: variables.$primary-color;
            margin-left: auto;
            margin-right: 0.7rem;
          }
          
          .file {
            background-color: color.scale(variables.$bg-secundary, $lightness: 1%);
            margin-right: auto;
            margin-left: 0.7rem;
            width: 245px;
            border-radius: 0.35rem;
            padding: 0.75rem 0.7rem;
            display: flex;
            
            div {
              display: flex;
              align-items: center;
              flex: 1;
              overflow: hidden;
              
              .file-img {
                width: 22px;
                margin-right: 0.5rem;
              }
              
              .file-name {
                font-size: 0.82rem;
                color: white;
                max-width: 82%;
                overflow: hidden;
                text-overflow: ellipsis
              }
            }
            
            .dowload-btn {
              margin-left: auto;
              margin-right: 0.25rem;
              
              img {
                width: 20px;
              }
            }
          }
          
          .user .file {
            background-color: variables.$primary-color;
            margin-left: auto;
            margin-right: 0.7rem;
          }
          
          .contact-attachment {
            background-color: color.scale(variables.$bg-secundary, $lightness: 1%);
            width: 250px;
            margin-right: auto;
            margin-left: 0.7rem;
            border-radius: 0.40rem;
            overflow: hidden;
            
            .detail {
              display: flex;
              padding: 0.7rem 0.7rem;
              align-items: center;
              border-bottom: 1px solid variables.$bg-primary;
              
              .picture-wrapper {
                @include mixins.profilePictureWrapper(2.35rem, 2.35rem, hidden);
                margin-right: 0.7rem;
              }
              
              .contact-name {
                color: white;
                font-weight: bold;
                font-size: 0.78rem;
              }
            }
            
            .send-message {
              color: white;
              text-decoration: none;
              display: flex;
              justify-content: center;
              padding: 0.5rem;
              
              span {
                font-weight: 300 !important;
                font-size: 0.8rem;
              }
            }
          }
          
          .user .contact-attachment {
            background-color: variables.$primary-color;
            margin-left: auto;
            margin-right: 0.7rem;
            
            .detail {
              border-bottom: 1px solid variables.$bg-secundary;
            }
          }
          
          .audio {
            background-color: color.scale(variables.$bg-secundary, $lightness: 1%);
            margin-right: auto;
            margin-left: 0.7rem;
            width: 270px;
            display: flex;
            padding: 0.7rem 0.7rem;
            border-radius: 0.40rem;
            
            .picture-wrapper {
              @include mixins.profilePictureWrapper(2.35rem, 2.35rem, hidden);
              margin-right: 0.7rem;
            }
            
            .detail {
              display: flex;
              flex: 1;
              position: relative;
              align-items: center;
              
              .player {
                display: flex;
                align-items: center;
                flex: 1;
                
                button {
                  background: none;
                  outline: none;
                  border: none;
                  margin-right: 0.5rem;
                  
                  img {
                    width: 18px;
                    cursor: pointer;
                  }
                }
                
                .audio-range {
                  flex: 1;
                  height: 2px;
                }
              }
              
              .meta-data {
                display: flex;
                position: absolute;
                width: 78%;
                bottom: -15%;
                left: 52.6%;
                transform: translateX(-50%);
                justify-content: space-between;
                
                p {
                  color: variables.$color-text-light;
                  font-size: 0.7rem;
                }
              }
            }
          }
          
          .user .audio {
            background-color: variables.$primary-color;
            margin-left: auto;
            margin-right: 0.7rem;
          }

          .picture {
            cursor: pointer;
            border: 3px solid color.scale(variables.$bg-secundary, $lightness: 1%);
            margin-right: auto;
            margin-left: 0.7rem;
            padding: 0;
            border-radius: 0.40rem;
            width: 250px;
            height: fit-content;
            overflow: hidden;
            
            .image-area {
              position: relative;
              background-color: #D9D9D9;
              padding: 0px 0px 56.25%;
              aspect-ratio: 1;


              img {
                position: absolute;
                top: 0;
                left: 0;
                bottom: 0;
                right: 0;
                width: 100%;
                height: 100%;
                object-fit: cover;
              }
            }
          }

          .user .picture {
            border: 3px solid variables.$primary-color;
            margin-left: auto;
            margin-right: 0.7rem;
          }
        }
      }
    }
  }
}

.message-screen .icon-container {
  height: 12.5rem;
  background-color: variables.$bg-secundary;
  border-bottom: 2.5px solid variables.$bg-primary;;
  padding: 0.5rem;
  overflow: none;
  margin-bottom: -12.5rem;

  #emoji-list{
    height: 100%;
    width: 100%;
    padding: 0.3rem;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(auto-fill, 24px);
    gap: 0.75rem;
    overflow-y: auto;
    overflow-x: hidden;

      li{
        cursor: pointer;
        width: 1.5rem;
        height: 1.5rem;
        overflow: hidden;
        text-align: center;
      }
  }
}

section.message-screen .input-wrapper{
  background-color: variables.$bg-secundary;
  display: flex;
  align-items: center;
  padding: 0.8rem;
  position: relative;

  #input,
  .placeholder{
    padding: 0.5rem 1rem 0.5rem 1rem;
    color: rgba(255, 255, 255, 0.2);
    font-size: 0.75rem;
    height: 100%;
  }

  #input{
    position: relative;
    z-index: 1;
    max-width: calc(100% - 1.80rem);
    width: 100%;

    .input-content{
      width: 92%;
      word-break: break-all;
      outline: none;
      overflow: auto;
      color: variables.$color-text;
      font-size: 0.75rem;
    }

    .placeholder{
      background-color: variables.$bg-primary;
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      width: 100%;
      border-radius: 4px;
    }
  }

  .message-actions{
    margin-left: 0.9rem;
    margin-top: 0.25rem;
    position: absolute;
    bottom: 0.9375rem;
    right: 0.9375rem;

    .emoji {
      position: absolute;
      right: 2.375rem;
      bottom: -0.03rem;
      z-index: 1;

      img {
        width: 1.15rem;
      }
    }

    img {
      width: 0.8rem;
    }
  }
}