@use 'variables';
@use 'mixins';
@use 'sass:color';

.overlay-layer {
  position: relative;
  
  .overlay-active {
    z-index: 10;
    background-color: variables.$bg-overlay-layer;
    
    @media screen and (min-width: 850px) {
      & {
        width: calc(100% - 29.8rem);
      }
    }
  }
  
  #media.overlay-active {
    position: fixed;
    right: 0;
    bottom: 0;
    width: 100%;
    height: calc(100% - 4.875rem);

    .top-bar {
      display: flex;
    }

    @media screen and (min-width: 850px) {
      & {
        width: calc(100% - 29.8rem);
      }
    }
  }

  #media {
    .top-bar {
      background-color: variables.$primary-color;
      height: 3.91rem;
      align-items: center;
      justify-content: right;
      padding: 0 1.5rem;
      display: none;
       
      a {
        margin-top: 0.35rem;
        img {
          width: 1rem;
          height: 1rem;
        }
      }
    }

    .media-content {
      height: calc(100% - 3.91rem);
      
      .take-photo,
      .image-preview,
      .pdf-preview,
      .documents,
      .list-contact {
        height: 100%;
        display: none;
        align-items: center;
        justify-content: center;
      }

      .take-photo {
        .box-components {
          padding: 0;
          border-radius: 0.40rem;
          width: clamp(15.625rem, 75%, 35.375rem);
          height: fit-content;

          .screen-wrapper {
            position: relative;
            background-color: #D9D9D9;
            padding: 0 0 56.25% 0;
            margin: 0;

            canvas, video {
              position: absolute;
              top: 0;
              left: 0;
              bottom: 0;
              right: 0;
              width: 100%;
              height: 100%;
            }
          }

          div {
            display: flex;
            justify-content: center;
            align-items: center;

            #take-photo-action-btn {
              background-color: variables.$primary-color;
              padding: 0.4rem 0.5rem;
              color: variables.$color-text;
              border-radius: 0.188rem;
              text-decoration: none;
              margin-top: 1rem;
            }
          }
        }
      }

      .image-preview {

        #preview-content {

          .image-wrapper {
            max-width: 80%;
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: auto;

            img {
              width: 100%;
              height: 100%;
            }

            p {
              margin-top: 1rem;
              color: variables.$color-text;
              text-align: center;
            }
          }
        }
      }

      .pdf-preview {
        padding: 1rem;
        #pdf{
          width: fit-content;
          height: 100%;
          .pdf-wrapper {
            height: 100%;
            canvas {
              width: 100%;
              max-height: 100%;
            }
          }
        }
      }

      .documents{
        #file-area {
          display: flex;
          flex-direction: column;
          align-items: center;
          
          .upload-file {
            display: flex;
            flex-direction: column;
            align-items: center;

            img {
              width: 45%;
            }

            p {
              color: white;
              font-size: 0.8rem;
              margin: 1.3rem 0;
              font-weight: normal;
            }
          }

          button {
            background-color: variables.$primary-color;
            color: variables.$color-text;
            outline: none;
            border: none;
            padding: 0.43rem 1.7rem;
            border-radius: 2.5px;
            margin-top: 0.5rem;
            cursor: pointer;
          }
        }
      }

      .list-contact {

        .card {
          width: 26.188rem;
          background-color: variables.$bg-primary;
          margin: 0 1.15rem;
          margin-top: -7rem;
          border-radius: 3px;

          .header {
            padding: 1.2rem 1.1rem;
            border-bottom: 2px solid variables.$bg-secundary;

            p {
              color: rgba(255, 255, 255, 0.7);
              font-size: 0.9rem;
            }
          }

          ul {
            overflow: auto;
            height: 12rem;

            li {
              display: flex;
              align-items: center;
              cursor: pointer;
              
              &:hover {
                background-color: color.scale(variables.$bg-primary, $lightness: -15%);
              }

              .picture-wrapper {
                @include mixins.profilePictureWrapper(2.80rem, 2.80rem, hidden);
                margin: 0.6rem 0.8rem;
              }

              span {
                color: #fff;
                font-size: 0.9rem;
                font-weight: 500;
              }
            }
          }
        }
      }
    }
  }
}