@use 'variables';
@use 'mixins';

.setting-container {
  display: flex;
  flex-direction: column;
  padding: 2.6rem 1rem 1rem 1rem;
  height: 100%;

  .change-image{
    width: 56%;
    max-width: 12.3583125rem;
    margin: 0 auto 2.3rem auto;
    text-align: center;
    position: relative;

    .img-wrapper {
      @include mixins.profilePictureWrapper(12.233rem, 12.233rem, hidden);
    }

    #btn-container{
      @include mixins.flexCenter();
      position: absolute;
      bottom: -0.3125rem;
      padding-top: 0.23rem;
      right: 0.3125rem;
      background-color: variables.$primary-color;
      border-radius: 50%;
      width: 36.461%;
      height: 35.56%;

      a {
        img{
          width: 58%;
          height: 58%;
        }

      }
      
      #profile-image-file {
        display: none;
      }
    }
  }

  .account{
    flex: 1;
    max-height: 14.25rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    * {
      font-size: 0.83rem;
    }

    .user-data {

      .data {
        font-weight: normal;
        color: white;
        margin-bottom: 1.3rem;
      }

      #user-email {
        p{
          border-bottom: 1px solid white;
          width: fit-content;
        }
      }
  
      strong{
        font-weight: normal;
        color: variables.$color-text-light;
        display: inline-block;
        margin-bottom: 0.2rem;
      }
    }
  
    #delete-account-btn{
      display: flex;
      color: variables.$color-danger;
      text-decoration: none;
      align-items: center;
      margin-bottom: 1.2rem;
    }

    img{
      width: 0.8125rem;
      margin-right: 0.55rem;
    }
  }
}