@use 'variables';
@use 'mixins';

.setting-container {
  display: flex;
  flex-direction: column;
  padding: 2.6rem 1rem 1rem 1rem;
  height: 100%;

  .change-image{
    max-width: 12.3583125rem;
    margin: 0 auto 2.3rem auto;
    text-align: center;
    position: relative;

    .img-wrapper {
      @include mixins.profilePictureWrapper(12.233rem, 12.233rem, hidden);
    }

    #btn-container{
      @include mixins.flexCenter();
      position: absolute;
      bottom: -0.3125rem;
      right: 0.3125rem;
      background-color: variables.$primary-color;
      border-radius: 50%;
      min-width: 36.461%;
      aspect-ratio: 1;
      transition: 0.4s;
      overflow: hidden;

      &.square-position {
        bottom: -1.188rem;
        right:  -0.875rem;
      }

      a {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        img{
          width: 43.876%;
          height: 43.876%;
        }
      }
      
      #profile-image-file {
        display: none;
      }
    }
  }

  .account{
    flex: 1;
    max-height: 14.25rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    * {
      font-size: 0.83rem;
    }

    .user-data {

      .data {
        font-weight: normal;
        color: white;
        margin-bottom: 1.3rem;
      }

      #user-email {
        p{
          border-bottom: 1px solid white;
          width: fit-content;
        }
      }

      #user-style {
        display: flex;
        align-items: center;

        .custom-input {
          border: 1px solid variables.$primary-color;
          border-radius: 3.125rem;
          width: 4.188rem;
          height: 1.875rem;
          padding: 0.2rem 0.2rem;
          margin: 0 0.5rem;
          display: flex;
          align-items: center;
          justify-content: center;
          position: relative;

          .marking {
            background-color: variables.$primary-color;
            min-width: 62%;
            height: 0.313rem;
            position: absolute;
            z-index: -1;
            border-radius: 0.938rem;
          }
          
          .custom-toggle-button {
            background-color: variables.$primary-color;
            height: 1.25rem;
            min-width: 1.25rem;
            border-radius: 50%;
            border: none;
            outline: none;
            cursor: pointer;
            transition: 0.45s;
          }
        }

        input {
          margin-bottom: 0.1rem;
        }
      }
  
      strong{
        font-weight: normal;
        color: variables.$color-text-light;
        display: inline-block;
        margin-bottom: 0.2rem;
      }
    }
  
    #delete-account-btn{
      display: flex;
      color: variables.$color-danger;
      text-decoration: none;
      align-items: center;
      margin-bottom: 1.2rem;
    }

    img{
      width: 0.8125rem;
      margin-right: 0.55rem;
    }
  }
}