/*Application colors*/

$primary-color: #7F76FF;
$shadow-color: #6359E7;
$bg-primary: #262A33;
$bg-secundary: #303540;
$bg-link: #1B1E25;
$color-text: rgba(255, 255, 255, 0.7);
$color-text-light: rgba(255, 255, 255, 0.6);
$color-danger: #F14545;
$bg-overlay-layer: rgba(48, 53, 64, 0.8);
/*Section*/
$title-section-height: 4.875rem;
